.sc-segmentbuilder-splitter {
  border: none;
  width: 1px;
  height: 100%;
  padding-left: 15px;
}
.scRule {
  display: none;
}
.sc-segmentBuilderFrame {
  display: none;
}
.sc-accordion .sc-accordion-header a.sc-accordion-chevron-link span.sc-accordion-header-chevron-glyph {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/sitecore/shell/client/Speak/Assets/img/Speak/Common/16x16/white/navigate_down.png") no-repeat;
}
.sc-accordion .sc-accordion-header a.sc-accordion-chevron-link span.sc-accordion-header-chevron-glyph.sc-accordion2-header-chevron-glyph-open {
  background: url("/sitecore/shell/client/Speak/Assets/img/Speak/Common/16x16/white/navigate_up.png") no-repeat;
}
.sc-accordion .sc-accordion-body .sc-segmentbuilder-conditioncontent-left-field {
  padding: 5px;
}
.sc-accordion .sc-accordion-body .sc-segmentbuilder-conditioncontent-right-field {
  border-left: 1px solid #9b9b9b;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 12px;
}
.sc-accordion .sc-accordion-body .row-fluid .span5 {
  width: 41.669%;
}
