@model Sitecore.Speak.Components.Models.ListsAndGrids.ItemTreeViews.ItemTreeViewRenderingModel
@{
  Model.Class.Append("sc-itemtreeview");
  //TODO: Move the Item to ItemService and not "ItemWebApi".
}
<div @Model.HtmlAttributes>
  <ul></ul>
</div>
