@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
  var userControl = this.Html.Sitecore().Controls().GetUserControl(this.Model.Rendering);
  var cssClass = "sc-accountInformation";

  userControl.Class = cssClass;
  userControl.Requires.Script("business", "AccountInformation.js");
 
  var controlId = userControl.ControlId;
  var htmlAttributes = userControl.HtmlAttributes;
  var name = String.IsNullOrEmpty(Sitecore.Context.User.Profile.FullName) ? Sitecore.Context.User.LocalName : Sitecore.Context.User.Profile.FullName;

}
<ul @htmlAttributes>
    <li>@name</li>
    <li><a class="logout" href="/api/sitecore/Authentication/Logout?sc_database=master">Logout</a></li>
</ul>