<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <convertUserToContactTaskProcessor type="Sitecore.Analytics.Conversion.TaskProcessor, Sitecore.Analytics">
      <query type="Sitecore.Analytics.Processing.Tasks.UsersObjectRangeDefinition, Sitecore.Analytics.MongoDB" />
      <taskManager ref="processing/taskManager" />
      <worker type="Sitecore.Analytics.Conversion.ConversionLogic.ConvertUserToContactWorker, Sitecore.Analytics" />
    </convertUserToContactTaskProcessor>
    <userToContactConvertor type="Sitecore.Analytics.Conversion.UserToContactConvertor, Sitecore.Analytics">
    </userToContactConvertor>

    <pipelines>
      <userToContactConversion>
        <processor type="Sitecore.Analytics.Conversion.ConversionLogic.Pipelines.FacetsConversion.Email, Sitecore.Analytics" />
        <processor type="Sitecore.Analytics.Conversion.ConversionLogic.Pipelines.FacetsConversion.Personal, Sitecore.Analytics" />
        <processor type="Sitecore.Analytics.Conversion.ConversionLogic.Pipelines.FacetsConversion.Picture, Sitecore.Analytics" />
        <processor type="Sitecore.Analytics.Conversion.ConversionLogic.Pipelines.FacetsConversion.Preferences, Sitecore.Analytics" />
      </userToContactConversion>
    </pipelines>
  </sitecore>
</configuration>