.sb_dropdown
{
  width: 650px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #fff;
  background: #fafafa;
  background: -webkit-linear-gradient(top, #f2f2f2, #fafafa);
  background: linear-gradient(to bottom, #f2f2f2, #fafafa);
  font-size: 24px;
  font-family: "Myriad Pro", "Trebuchet MS", sans-serif;
  box-shadow: 1px 1px 3px #666;
  border-radius: 0 0 10px 10px;
  outline: none;
  padding: 3px 5px;
  position: absolute;
  z-index: 1;
  zoom: 1;
  text-shadow: 1px 1px 1px #fff;
  list-style: none;
  cursor: pointer;
}

.ie8 .sb_dropdown {
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#f2f2f2', EndColorStr='#fafafa'),
          progid:DXImageTransform.Microsoft.Shadow(Color=#898989, Strength=3, Direction=135),
          progid:DXImageTransform.Microsoft.Shadow(Color=#dedede, Strength=2, Direction=315);
}

.ie9 .sb_dropdown {
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#f2f2f2', EndColorStr='#fafafa');
}

.ui-rangeSlider-label
{
    font: 11px verdana,arial,helvetica,sans-serif;
}

.sb_dropdown li
{
    font-size: 16px;
    line-height: 20px;
    /*height: 32px;*/
    float: left;
    width: 50%;
    overflow: hidden;
}

    .sb_dropdown li input[type="checkbox"]
    {
        float: left;
        margin: 10px 4px 0 5px;
    }

.sb_dropdown .sb_filter
{
    clear: both;
    margin: 16px 0 4px;
    background: transparent;
    font-size: 12px;
    color: #444;
    height: 16px;
    font-family: verdana, arial, helvetica, sans-serif;
    line-height: 16px;
    padding: 5px;
    font-weight:900;
}

    .sb_dropdown .sb_filter img {
        padding-right:4px;
    }

    .sb_dropdown .sb_filter span {
        font-weight:400;
    }

.RecentlyModifiedbody,
.MyRecentSearchesbody,
.RecentlyCreatedbody,
.RecentTabsbody,
.SearchFiltersbody,
.SearchOperationsbody {
    padding:2px 30px;    
    width:100%;
}

.searchFilterIcon
{
    width: 16px;
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
}

.sb_up, .sb_down
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    width: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 10;
    border-right: 1px solid #DFDFDF;
}

.sb_up {
  background-image: url("../images/icons/up.png");
}

  .sb_up:hover {
    background-image: url("../images/icons/up.png"), -webkit-linear-gradient(bottom, #F2F2F2, #FAFAFA);
    background-image: url("../images/icons/up.png"), linear-gradient(to top, #F2F2F2, #FAFAFA);
  }

  .ie8 .sb_up:hover {
    background-color: #FAFAFA;
    background-image: url("../images/icons/up.png");
  }

.sb_down {
  background-image: url("../images/icons/down.png");
}

  .sb_down:hover
  {
    background-image: url("../images/icons/down.png"), -webkit-linear-gradient(bottom, #F2F2F2, #FAFAFA);
    background-image: url("../images/icons/down.png"), linear-gradient(to top, #F2F2F2, #FAFAFA);
  }

  .ie8 .sb_down:hover {
    background-color: #FAFAFA;
    background-image: url("../images/icons/down.png");
  }

span.reference
{
    position: fixed;
    left: 10px;
    bottom: 10px;
    font-size: 11px;
}

    span.reference a
    {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        text-shadow: 0 1px 0 #000;
    }

        span.reference a:hover
        {
            color: #f0f0f0;
        }

.box
{
    margin: 4px auto 0;
    padding-top: 20px;
    width: 800px;
    position: relative;
    text-align: left;
}

    .box h2
    {
        background-color: #1275AD;
        border-color: #0E5A85 #0E5A85 #0E5A85;
        border-style: ridge ridge solid;
        border-width: 1px;
        color: #FFFFFF;
        font-size: 22px;
        padding: 10px;
        text-shadow: 1px 1px 1px #000000;
    }

#grid-content .post_float .imgcontainer
{
    float: none;
}

.pageSection {
  margin: 0 240px 0 50px;
  overflow: auto;
}

.facets {
  position: absolute;
  top: 0;
  right: 0;
}

input::-ms-clear
{
    display: none;
}

.handle
{
    background-position: 50% 50%;
    border: 1px solid #F2F2F2;
    box-shadow: 1px 0 1px #DDD;
}

.handle2
{
    background-position: 50% 50%;
    border: 1px solid #F2F2F2;
    box-shadow: 1px 0 1px #DDD;
}

a.handle:hover
{
    background-position: 50% 50%;
    border: 1px solid #DDD;
    background-color: #DDD;
    box-shadow: 1px 0 1px #AAA;
}

a.handle2:hover
{
    background-position: 50% 50%;
    border: 1px solid #DDD;
    background-color: #DDD;
    box-shadow: 1px 0 1px #AAA;
}

.myInputbox
{
    background-color: #ebf3fc;
}

.command, .command:link, .command:hover, .command:active
{
    background-color: transparent;
    text-decoration: none;
    height: 16px;
    display: inline-block;
    line-height: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 90%;
}

    .command:hover
    {
        text-decoration: underline;
    }

.next-pages
{
    margin-left: 16px !important;
}

.previous-pages
{
    margin-right: 16px !important;
}

.hastip
{
    display: none;
    overflow: hidden;
    height: auto !important;
    height: 30px;
    margin: 9px 12px 9px 63px;
    padding: 5px 10px;
    background-color: #E6E7E9;
    color: black;
    cursor: default;
    border: 1px solid #CCD5E4;
    font-size: 16px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    float: left;
    white-space: nowrap;
}

.errortip
{
    display: none;
    width: 591px;
    margin: 9px 12px 9px 63px;
    padding: 5px 10px;
    background-color: #E6E7E9;
    color: black;
    cursor: default;
    border: 1px solid #CCD5E4;
    font-size: 16px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
   
}

.errortip
{
    margin-left: 20px;
}

.slider
{
    top: 30px;
    width: 430px;
    margin-left: 24px;
}

.loadingSection
{
    height: 50px;
    padding-top: 10px;
}
