UL.BlogPostList {
    margin: 20px 0 0 0;
    padding: 0;
    list-style-type: none;
}

.BlogPostArea {
    margin: 0 19px 10px;
    border: 1px solid #f2f2f2;
    background: #FAFAFA;
    padding: 0 0 20px 106px;
    min-height: 72px;
    border-radius: 5px;
    box-shadow: 1px 1px 8px #FFF;
    list-style: none outside none;
    text-align: left;
    position: relative;
    margin-left: 0;
    padding-left: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    zoom: 1;
}

.BlogPostArea:hover, .ie .BlogPostArea.hover {
    border: 1px solid rgb(200, 200, 200);
    background: rgb(247, 247, 247);
    box-shadow: 1px 1px 8px #EEE;
    cursor: pointer;
}

.BlogPostArea:hover .quickactions, .ie .BlogPostArea.hover .quickactions {
  background: #EDEDED;
}

.quickactions {
    height: auto;
    border-radius: 0 0 5px 5px;
    padding-bottom: 2px;
    margin-top: 8px;
    margin-left: 0;
    min-height: 20px;
    margin-bottom: -20px;
    background: #F5F5F5;
    zoom: 1;
}

.quickactions span {
    display: inline-block;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
  }

.BlogPostHeader {
    padding-left: 110px;
    margin-top: -14px;
}

.BlogPostHeader span {
    float: right;
    margin-top: -12px;
    padding: 5px;
    font-size: 11px;
    font-family: verdana, arial, helvetica, sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.BlogPostContent {
    padding-left: 10px;
    padding-left: 110px;
    font-size: 100%;
}

.BlogPostFooter {
    margin: 8px 0 0 0;
    padding-left: 110px;
    color: #000;
    font-size: 90%; 
}

.BlogPostViews {
    margin-top: 7px;
    text-align: center;
    padding: 10px 0 10px 3px;
    margin-left: 15px;
}

    .BlogPostViews a {
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        border: 1px solid #a5a5a5;
        border: 1px solid rgba(165, 165, 165, .6);
        background-color: rgba(165, 165, 165, 0.1);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#19a5a5a5,endColorstr=#19a5a5a5);
    }

.grayBlur {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius='10')";
  -webkit-filter: grayscale(100%) blur(10px);
}

  .grayBlur > div {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='blur' x='0' y='0'><feGaussianBlur stdDeviation='10'/></filter></svg>#blur");
  }