@using Sitecore.Data
@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using Sitecore.Web.UI.Controls.Common.Renderings
@model RenderingModel    
@{
  var rendering = new ID("{442BD093-FBAD-4E36-BC08-489E16C82D08}").ToString();
} 

<h3>Description</h3>
<p>
  An accordion is a panel with a header and a body. The body can be collapsed.
</p>
<p>
  The accordion is often used in conjunction with the Field Importance control (Field Importance control is not ready yet). 
  Together they provide progressive disclosure using the More/Less buttons at the
  bottom of the body and chevron in the header.
</p>
<p>
  The accordion supports an action bar in the header area.
</p>
<p>The header is not clickable and it is intended (to let you define actions). If you only need show/hide feature, please use the Expander control.</p>

<h3>Place Holders</h3>
<p>
  The accordion contains 2 place holders: the "$Id.ActionBar" for holding the action control
  in the header, and the "$Id.Body" for the contents of the pabel.
</p>                 

<h3>Apperance</h3>
<p>
  An accordion without any content or action bar.
</p>
<pre>
&#64;model RenderingModel    
&#64; {
  var rendering = new ID("{442BD093-FBAD-4E36-BC08-489E16C82D08}").ToString();
} 
  &#64;Html.Sitecore().Controls().Rendering(this.Html, rendering, "Accordion1", "/sitecore", new { Header = "Empty Accordion" })
</pre>
<p>
  @Html.Sitecore().Controls().Rendering(this.Html, rendering, "Accordion1", "/sitecore", new { Header = "Empty Accordion" })
</p>
