@using Sitecore.Data
@using Sitecore.Mvc
@using Sitecore.Web.UI.Controls.Common.Renderings
@model Sitecore.Mvc.Presentation.RenderingModel
@{
  var rendering = new ID("{C2FAF554-1419-4B6E-96B8-EC7DB6995B3C}").ToString();
}       

<h3>Description</h3>
<p>As a developer I want to place an Action Control on my page to provide menu items and customization to users.</p>               
<p>
  The Action Control has 3 elements.
</p>
<ul>
  <li>Button</li>
  <li>Panel</li>
  <li>Favorites</li>
</ul>
<p>
  The control does not support added actions on-the-fly. This is because the Panel element can only be rendered on the server (it is very complex).
  Favorites are stored in the browsers local storage – not in the Sitecore User Profile. This is to minimize communication with the server.
</p>
<p>
  It's essential to set appropriate items structure and set the parent as datasource. <b>ActionControl(top parent - should be set as datasource) > ActionColumn > ActionGroup > Action.</b>
</p>

<h3>Apperance</h3>
<p>
  Simple action control with no wrapper positioning.
</p>
<p>
  @this.Html.Sitecore().Controls().Rendering(this.Html, rendering, "ActionControl1", "{6DD56E1F-6860-442D-AEB5-DA2014744972}", new
  {
    Text = "Actions"
  })
</p>
<pre>
  &#64;this.Html.Sitecore().Controls().Rendering(this.Html, rendering, "ActionControl1", "{6DD56E1F-6860-442D-AEB5-DA2014744972}", new
  {
    Text = "Actions"
  })
</pre>

<p>
  Simple action control with wrapper set to " float:right".
</p>
<div style="overflow: hidden; padding-bottom: 10px;">
<div style="float:right;">
  @this.Html.Sitecore().Controls().Rendering(this.Html, rendering, "ActionControl2", "{6DD56E1F-6860-442D-AEB5-DA2014744972}", new
  {
    Text = "Actions"
  })
</div>
  
</div>
<pre>
&lt;div style="float:right;"&gt;
  &#64;this.Html.Sitecore().Controls().Rendering(this.Html, rendering, "ActionControl2", "{6DD56E1F-6860-442D-AEB5-DA2014744972}", new
  {
    Text = "Actions"
  })
&lt;/div&gt;
</pre>

