@using Sitecore.Mvc.Presentation
@model RenderingModel    
<h3>Description</h3>
<p>
  Represents a column within a RowPanel - see <a href="http://twitter.github.io/bootstrap/scaffolding.html">http://twitter.github.io/bootstrap/scaffolding.html</a>.
</p>
