@using Sitecore.Data
@using Sitecore.Data
@using Sitecore.Mvc
@using Sitecore.Web.UI.Controls.Common.ListBoxes
@using Sitecore.Web.UI.Controls.Common.Renderings
@using Sitecore.Web.UI.Controls.Common.TextBoxes
@using Sitecore.Web.UI.Controls.Data.QueryDataSources
@using Sitecore.Web.UI.Controls.Data.SearchDataSources
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
  var rendering = new ID("{33A02142-2DBD-4034-AEA2-BDF215EB2451}").ToString();
}

<p>
  QueryDataSource live demo.
</p>
<p>
@Html.Sitecore().Controls().TextBox("QueryText", new {Text="/sitecore/*"})  
</p>

@Html.Sitecore().Controls().QueryDataSource("QueryDataSource", new{Query="{Binding QueryText.text}", PageSize=20, Database="$context_contentdatabase"})
@Html.Sitecore().Controls().ListBox("ListBox1", new { Items = "{Binding QueryDataSource.items}" })
<pre>

&#64;Html.Sitecore().Controls().TextBox("QueryText", new {Text="/sitecore/*"})<br/>  
&#64;Html.Sitecore().Controls().QueryDataSource("QueryDataSource", new{Query="{Binding QueryText.text}", PageSize=20, Database="$context_contentdatabase"})<br/>
&#64;Html.Sitecore().Controls().ListBox("ListBox1", new { Items = "{Binding QueryDataSource.items}" })

</pre>