@using Sitecore.Mvc.Presentation
@model RenderingModel    
<h3>Description</h3>
<p>
  Represents a row with a fluid-grid system - see <a href="http://twitter.github.io/bootstrap/scaffolding.html">http://twitter.github.io/bootstrap/scaffolding.html</a>.
</p>
<p>
  The columns in the grid system is represented by ColumnPanels.
</p>
