@using Sitecore.Data
@using Sitecore.Mvc
@using Sitecore.Web.UI.Controls.Common.Renderings
@using Sitecore.Web.UI.Controls.Data.SearchDataSources
@model Sitecore.Mvc.Presentation.RenderingModel

<p>
  Adds a scrollbar.
</p>
@{
  var renderingListControl = new ID("{ACE0AFD6-3DE0-42CF-8E62-4E68CD810A8D}").ToString();
  var renderingScrollbar = new ID("{DC707F46-7F5E-4BA1-9BF9-820B4A23EC3F}").ToString();
}

<p>
  You can also set up the formatting option in the SearchConfigItem
</p>

@Html.Sitecore().Controls().SearchDataSource("SearchDataSource3", new { SearchConfigItemId = "{57AC916A-7162-41DA-B6A5-FC053254387B}", PageSize = 100, Language = "$context_language", Fields="__Created", Formatting="$convert_date_to_friendly_format", Database="$context_contentdatabase" })
@Html.Sitecore().Controls().Rendering(this.Html, renderingListControl, "ListControl", "{CD471110-0BD6-4925-8107-A10BB27880D9}", new{ Items="{Binding SearchDataSource3.items}", Behaviors = "Scrollbar", Height = "210", ViewMode = "DetailList"})
@Html.Sitecore().Controls().Rendering(this.Html, renderingScrollbar, "Scrollbar", "/sitecore", new { })

<br />
<pre>
&#64;Html.Sitecore().Controls().SearchDataSource("SearchDataSource3", new { SearchConfigItemId = "{57AC916A-7162-41DA-B6A5-FC053254387B}", PageSize = 100, Language = "$context_language", Fields="__Created", Formatting="$convert_date_to_friendly_format", Database="$context_contentdatabase" })
&#64;Html.Sitecore().Controls().Rendering(this.Html, renderingListControl, "ListControl", "{CD471110-0BD6-4925-8107-A10BB27880D9}", new{ Items="{Binding SearchDataSource3.items}", Behaviors = "Scrollbar", Height = "210"})
&#64;Html.Sitecore().Controls().Rendering(this.Html, renderingScrollbar, "Scrollbar", "/sitecore", new { })
</pre>
