@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using Sitecore.Web.UI.Controls.Common.Buttons
@using Sitecore.Web.UI.Controls.Common.Texts

@model RenderingModel

<h3>Apperance</h3>

<table class="table">
  <thead>
    <tr>
      <th>Visible</th>     
      <th>Invisible</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>@Html.Sitecore().Controls().Text("Text1", "Text1")</td>      
      <td>@Html.Sitecore().Controls().Text("Text3", "Text3", new { IsVisible = false })</td>
    </tr>
  </tbody>
</table>

<pre>
&#64;Html.Sitecore().Controls().Text("Text1", "Text1")
&#64;Html.Sitecore().Controls().Text("Text3", "Text2", new { IsVisible = false })
</pre>
<h3>Data-binding</h3>
<p>
  Data-binding the <code>text</code> property.
</p>
<p>  
  @Html.Sitecore().Controls().Button("Button1", new { Text = "ChangeText", Click = "javascript:app.Text4.set('text', 'Text was changed.')" })  
  @Html.Sitecore().Controls().Text("Text4", "Text")
</p>
<pre>
 &#64;Html.Sitecore().Controls().Button("Button1", new { Text = "ChangeText", Click = "javascript:app.Text4.text('Text was changed.')" })  
 &#64;Html.Sitecore().Controls().Text("Text4", "Text")
</pre>
