@using Sitecore.Data
@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using Sitecore.Web.UI.Controls.Common.Renderings
@model RenderingModel    

@{
    var rendering = new ID("{B2257CAC-47CA-4061-9352-C06D687ED32C}").ToString();
}
<h3>Apperance</h3>
<p></p>
<h4>File size limit</h4>
<p>
  By changing the <b>maxRequestLength</b> attribute on the <b>httpRuntime</b> element in the <b>web.config</b> a maximum total size is set for the Uploader.
</p>
<p>
  If the file size limit has been exceeded, the "sc-error" will be triggered along with the error message (item id is {7F5A190F-64A6-495B-B148-80569C03348D}), and the size limit.<br />
  Another event called "upload-error-fileSizeExceeded" will be triggered with the current total file size.
</p>
<p>
  Uploader.<br />
</p>
<p>
    @Html.Sitecore().Controls().Rendering(this.Html, rendering, "Uploader1", "/sitecore", new {})
    @Html.Sitecore().Controls().Rendering(this.Html, rendering, "Uploader2", "/sitecore", new {IsVisible = false})
</p>

<pre>
&#64;Html.Sitecore().Controls().Rendering(this.Html, rendering, "Uploader1", "/sitecore", new {})
&#64;Html.Sitecore().Controls().Rendering(this.Html, rendering, "Uploader2", "/sitecore", new {IsVisible = false})
</pre>