@using Sitecore.Data
@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using Sitecore.Web.UI.Controls.Common.Renderings
@model RenderingModel    

@{
    var rendering = new ID("{B2257CAC-47CA-4061-9352-C06D687ED32C}").ToString();
    var renderingInfo = new ID("{F05CDBA5-03ED-46D2-B58C-C0283F86C332}").ToString();
}
<h3>Apperance</h3>
<p>
    UploaderInfo.<br />
    Please upload file. You will see UploadInfo.<br />
</p>
<p>
    @Html.Sitecore().Controls().Rendering(this.Html, rendering, "Uploader", "/sitecore", new {})
    @Html.Sitecore().Controls().Rendering(this.Html, renderingInfo, "UploaderInfo", "/sitecore", new {})
</p>

<pre>
&#64;Html.Sitecore().Controls().Rendering(this.Html, rendering, "Uploader", "/sitecore", new {})
&#64;Html.Sitecore().Controls().Rendering(this.Html, rendering, "renderingInfo", "/sitecore", new {})
</pre>