@using Sitecore.Mvc
<div class="row-fluid sc-applicationHeader-content">
  <div class="span6">
    <div class="sc-applicationHeader-breadCrumb">
      @Html.Sitecore().Placeholder("ApplicationHeader.BreadCrumb")
    </div>
  </div>

  <div class="span6">
    <div class="sc-applicationHeader-contextSwitch">
      @Html.Sitecore().Placeholder("ApplicationHeader.ContextSwitch")    
    </div>
  </div>
</div>

<div class="row-fluid sc-applicationHeader-content">
  <div class="span6">
    <div class="sc-applicationHeader-title">
      @Html.Sitecore().Placeholder("ApplicationHeader.Title")
    </div>
  </div>

  <div class="span6">
    <div class="sc-applicationHeader-actions">
      @Html.Sitecore().Placeholder("ApplicationHeader.Actions")    
    </div>
  </div>
</div>