@using Sitecore.Mvc
<div class="row-fluid">
  <section class="span9 sc-applicationContent-main">
    @Html.Sitecore().Placeholder("ApplicationContent.Main")
  </section>

  <aside class="span3 sc-applicationContent-info">
    @Html.Sitecore().Placeholder("ApplicationContent.Info")
  </aside>
</div>