@using Sitecore.Mvc
<div class="row-fluid">
  <section class="span9 sc-dialogContent-main">
    @Html.Sitecore().Placeholder("DialogContent.Main")
  </section> 

  <aside class="span3 sc-dialogContent-info">
    @Html.Sitecore().Placeholder("DialogContent.Info")
  </aside>
</div>