@using Sitecore.Mvc
<div class="row-fluid">
  <aside class="span3 sc-dialogContent-navigation">
    @Html.Sitecore().Placeholder("DialogContent.Navigation")
  </aside>  
  <section class="span9 sc-dialogContent-main">
    @Html.Sitecore().Placeholder("DialogContent.Main")
  </section>  
</div>