@using Sitecore.Mvc
<div class="row-fluid sc-globalHeader-content">
  <div class="span3">
    <div class="sc-globalHeader-startButton">
      @Html.Sitecore().Placeholder("GlobalHeader.StartButton")
    </div>
  </div>
  <div class="span3">
    <div class="sc-globalHeader-messaging">
      @Html.Sitecore().Placeholder("GlobalHeader.Messaging")
    </div>
  </div>
  <div class="span3">
    <div class="sc-globalHeader-search">
      @Html.Sitecore().Placeholder("GlobalHeader.Search")
    </div>
  </div>
  <div class="span3">
    <div class="sc-globalHeader-loginInfo">
      @Html.Sitecore().Placeholder("GlobalHeader.LoginInfo")
    </div>
  </div>
</div>