<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <gatherContent.connector>
      <components>

        <accountsRepository
          interface="GatherContent.Connector.IRepositories.Interfaces.IAccountsRepository, GatherContent.Connector.IRepositories"
          type="GatherContent.Connector.SitecoreRepositories.Repositories.AccountsRepository, GatherContent.Connector.SitecoreRepositories">
        </accountsRepository>

        <mediaRepository
          interface="GatherContent.Connector.IRepositories.Interfaces.IMediaRepository`1[[Sitecore.Data.Items.Item, Sitecore.Kernel]], GatherContent.Connector.IRepositories"
          type="GatherContent.Connector.SitecoreRepositories.Repositories.SimpleMediaRepository, GatherContent.Connector.SitecoreRepositories">
        </mediaRepository>

        <itemsRepository
          interface="GatherContent.Connector.IRepositories.Interfaces.IItemsRepository, GatherContent.Connector.IRepositories"
          type="GatherContent.Connector.SitecoreRepositories.Repositories.ItemsRepository, GatherContent.Connector.SitecoreRepositories">
        </itemsRepository>

        <mappingRepository
          interface="GatherContent.Connector.IRepositories.Interfaces.IMappingRepository, GatherContent.Connector.IRepositories"
          type="GatherContent.Connector.SitecoreRepositories.Repositories.MappingRepository, GatherContent.Connector.SitecoreRepositories">
        </mappingRepository>

        <dropTreeRepository
          interface="GatherContent.Connector.IRepositories.Interfaces.IDropTreeRepository, GatherContent.Connector.IRepositories"
          type="GatherContent.Connector.SitecoreRepositories.Repositories.DropTreeRepository, GatherContent.Connector.SitecoreRepositories">
        </dropTreeRepository>

      </components>
    </gatherContent.connector>
  </sitecore>
</configuration>