/*body {
    font-family: Arial, Helvetica, sans-serif !important;
}

.sc-applicationContent-main {
    background-color: #fff;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif !important;
}*/

@media (max-height: 700px) {
  .sc-PathAnalyzerApp .sc-silverlightframe {
    height: 460px;
  }
}

@media (min-height: 700px) and (max-height: 725px) {
  .sc-PathAnalyzerApp .sc-silverlightframe {
    height: 485px;
  }
}

@media (min-height: 725px) and (max-height: 750px) {
  .sc-PathAnalyzerApp .sc-silverlightframe {
    height: 510px;
  }
}

@media (min-height: 750px) and (max-height: 775px) {
  .sc-PathAnalyzerApp .sc-silverlightframe {
    height: 525px;
  }
}

@media (min-height: 775px) and (max-height: 800px) {
  .sc-PathAnalyzerApp .sc-silverlightframe {
    height: 550px;
  }
}

@media (min-height: 800px) and (max-height: 825px) {
  .sc-PathAnalyzerApp .sc-silverlightframe {
    height: 575px;
  }
}

@media (min-height: 825px) and (max-height: 850px) {
  .sc-PathAnalyzerApp .sc-silverlightframe {
    height: 600px;
  }
}

@media (min-height: 850px) and (max-height: 875px) {
  .sc-PathAnalyzerApp .sc-silverlightframe {
    height: 625px;
  }
}

@media (min-height: 875px) and (max-height: 900px) {
  .sc-PathAnalyzerApp .sc-silverlightframe {
    height: 650px;
  }
}

@media (min-height: 900px) and (max-height: 925px) {
  .sc-PathAnalyzerApp .sc-silverlightframe {
    height: 675px;
  }
}

@media (min-height: 925px) and (max-height: 950px) {
  .sc-PathAnalyzerApp .sc-silverlightframe {
    height: 700px;
  }
}

@media (min-height: 950px) and (max-height: 975px){
  .sc-PathAnalyzerApp .sc-silverlightframe {
    height: 725px;
  }
}

@media (min-height: 975px) and (max-height: 1000px){
  .sc-PathAnalyzerApp .sc-silverlightframe {
    height: 750px;
  }
}

@media (min-height: 1000px) and (max-height: 1025px){
  .sc-PathAnalyzerApp .sc-silverlightframe {
    height: 775px;
  }
}

@media (min-height: 1025px) and (max-height: 1050px){
  .sc-PathAnalyzerApp .sc-silverlightframe {
    height: 800px;
  }
}

@media (min-height: 1050px) and (max-height: 1075px){
  .sc-PathAnalyzerApp .sc-silverlightframe {
    height: 825px;
  }
}

@media (min-height: 1075px) and (max-height: 1100px){
  .sc-PathAnalyzerApp .sc-silverlightframe {
    height: 850px;
  }
}

@media (min-height: 1075px) {
  .sc-PathAnalyzerApp .sc-silverlightframe {
    height: 875px;
  }
}

.sc div[data-sc-id="AnalyzeItemWindow"] .modal-body.sc-dialogWindow-body {
  padding: 0;
  overflow: hidden !important;
  height: 734px !important;
  ;
}

  .sc div[data-sc-id="AnalyzeItemWindow"] .modal-body.sc-dialogWindow-body .sc-dialogWindow-buttons {
    display: none;
  }


/* MapSelector */
.sc .sc-MapSelector .sc-border[data-sc-id="MapSelectorFieldsWrapper"] {
  width: 800px;
  overflow: hidden;
}

.sc .sc-MapSelector .sc-dropdownbutton .btn[data-sc-id="MapSelectorSubmitButton"] {
  padding-right: 15px;
}

.sc .sc-MapSelector div[data-sc-id="MapSelectorDateRangeFilterPresetsInnerRow"] label.sc-radiobutton:hover {
  background-color: #e3e3e3;
}

.sc .row.sc-show-padding[data-sc-id="ButtonsRowPanel"],
.sc .sc-MapSelector .row.sc-show-padding[data-sc-id="MapSelectorDateRangeFilterFromDatePickerRow"] {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.sc-MapSelector .sc-TreeDefinitionFilter {
  width: 50%;
  float: left;
}

.sc-MapSelector .sc-DateRangeFilter {
  width: 50%;
  float: left;
}

.sc-MapSelector > .data-sc-registered:last-child {
  clear: both;
}

.sc-MapSelector {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 10px;
}

  .sc-MapSelector .sc-radiobutton {
    margin-bottom: 4px;
    width: 100%;
  }

.sc .sc-filtercontrol table td input[type='radio'] {
  margin: 0;
  vertical-align: middle;
}

.sc .sc-filtercontrol .sc-filterControl-panel {
  overflow-y: visible;
}

div.tooltip,
.legendWrapper {
  min-width: 200px;
  width: auto !important;
  height: auto !important;
  overflow: visible !important;
  padding: 10px !important;
  line-height: 220%;
  background-color: #ffffff !important;
  background-clip: padding-box !important;
  border: 1px solid #cccccc !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 3px !important;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
  white-space: normal !important;
  font-size: 12px !important;
}

  div.tooltip strong {
    font-size: 14px !important;
    display: block;
  }

  div.tooltip span {
    display: block;
    font-weight: bold;
    margin-top: 5px;
    white-space: nowrap;
  }

.metricsLabel,
.landingMetricsLabel {
  font-size: 14px !important;
  fill: #474747 !important;
}


#pageMetrics {
  margin: 0px 0px 10px 15px;
}

#valueMetric,
#visitsMetric,
#efficiencyMetric {
  display: inline-block;
  margin: 0 30px 0 0;
}

#pageMetrics h3 {
  margin: 0;
}


#valueMetric {
}

#visitsMetric {
}

#efficiencyMetric {
}

#breadcrumb {
  padding-left: 0px !important;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  background-color: #f7f7f7;
}

.breadcrumb {
  margin: 10px 0;
}

  .breadcrumb li {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }

    .breadcrumb li::after {
      content: " >";
    }

    .breadcrumb li:last-of-type::after {
      content: " ";
    }



.legendWrapper {
  width: 250px !important;
  line-height: normal;
}

  .legendWrapper h3,
  .legendWrapper p {
    padding: 0;
    margin: 0;
  }

  .legendWrapper h3 {
    margin-top: 25px;
  }

    .legendWrapper h3:first-of-type {
      margin-top: 0;
    }

.circle {
  border-radius: 50%;
  border: 2px solid #ccc;
  display: inline-block;
  margin-right: 16px;
}

.circleSize8 {
  width: 8px;
  height: 8px;
}

.circleSize16 {
  width: 16px;
  height: 16px;
}

.circleSize24 {
  width: 24px;
  height: 24px;
}

.line {
  border-radius: 4px;
  display: inline-block;
  margin-right: 16px;
  background-color: #ccc;
  width: 40px;
}

.lineSize4 {
  height: 4px;
}

.lineSize8 {
  height: 8px;
}

.lineSize16 {
  height: 16px;
}

.square {
  display: inline-block;
  margin-right: 2px;
  border-radius: 4px;
  width: 16px;
  height: 16px;
}

.sq1 {
  background-color: #da3b1f;
}

.sq2 {
  background-color: #e0593d;
}

.sq3 {
  background-color: #ec9d8d;
}

.sq4 {
  background-color: #f5cfc6;
}

.sq5 {
  background-color: #fae3dd;
}

.sq6 {
  background-color: #ebf3e8;
}

.sq7 {
  background-color: #deead9;
}

.sq8 {
  background-color: #bdd4b2;
}

.sq9 {
  background-color: #90b67d;
}

.sq10 {
  background-color: #7ca965;
}

.sq11 {
  background-color: #698e57;
}
