@using Sitecore.Mvc
<header class="sc-dialogHeader">
  @Html.Sitecore().Placeholder("DialogHeader")
</header>

<section class="sc-dialogContent">
  @Html.Sitecore().Placeholder("DialogContent")
</section>