.closeButton {
    float: left;
}

.gathercontent-import {
}

.filter_wrapper_import {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-weight: 700;
    font-size: 0.9em;
}

p {
    margin: 12px 0;
}

h2.title {
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    overflow-x: hidden;
}

.footer_btn {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px 20px 0;
    width: 100%;
}
.footer_btn input[type="checkbox"]{
    display: block;
    float: left;
    margin-top: -1px;
    margin-right: 5px;
}
.gathercontent-import {
}

.filter_wrapper {
    margin: 20px 0;
}

.filter_wrapper_import > * {
    float: left;
}

.filter_wrapper_import .title_filter {
    min-width: 70px;
}

.search_filter {
    float: right;
}

    .search_filter input {
        height: 30px;
        padding-left: 10px;
        color: #333333;
        font-weight: 500;
        min-width: 270px;
        width: 30%;
    }

        .search_filter input::-webkit-input-placeholder {
            color: #777777;
        }

        .search_filter input::-moz-placeholder {
            color: #777777;
        }

 .search_filter input:-moz-placeholder {
    color: #777777;
}

.search_filter input:-ms-input-placeholder {
    color: #777777;
}

.custom_select {
    -webkit-appearance: none;
    background-image: url('/sitecore modules/shell/gathercontent/img/arrow_select.png');
    background-repeat: no-repeat;
    background-position:95% 50%;
    -webkit-background-size: 95%;
    background-size: 8px;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
    display: block;
    width: 210px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 25px;
    overflow: hidden;
    border: 1px solid #808080;
    background-color: #fff;
    height: 30px;
    color: #808080;
    vertical-align: middle;
    font-weight: 500;
}

.filter_wrapper_import > .custom_select {
    margin: 0 20px;
}

    .filter_wrapper_import > .custom_select:focus, .custom_select:focus {
        outline: none;
    }

    .filter_wrapper_import > .custom_select::-ms-expand, .custom_select::-ms-expand {
        display: none;
    }

.preloader_import {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -140px;
}

    .preloader_import img {
        width: 30px;
        margin-top: 20px;
    }

.preloader {
    top: 0;
    left: 0;
    -webkit-background-size: 40px;
    background-size: 40px;
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("/sitecore/shell/themes/standard/images/sc-spinner16.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    font-size: 0.9em;
}

    table tbody tr:nth-child(even) {
        background-color: #f7f7f7;
    }

    table tbody tr:nth-child(odd) {
        background-color: #fff;
    }

    table tbody tr:hover {
        background-color: #e3e3e3;
    }

    table tbody tr td {
        color: #808080;
        cursor: default;
        padding: 5px;
        border: 1px solid #ccc;
        border-top: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 160px;
    }

        table tbody tr td:last-child {
            white-space: nowrap;
            border-right: none;
        }

        table tbody tr td:first-child {
            border-left: none;
        }

    table tbody tr:last-child td {
        border-bottom: none;
    }

    table tbody tr td:nth-child(1), table tbody tr td:nth-child(2) {
        font-size: 1em;
    }

        table tbody tr td:nth-child(1):before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: currentColor;
            margin-right: 4px;
        }

    table.table_point tbody tr td:nth-child(1):before {
        content: none;
    }

    table.table_point tbody tr td:nth-child(2):before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: currentColor;
        margin-right: 4px;
    }

    table tbody tr td a {
        text-decoration: none;
        cursor: pointer;
        font-weight: 700;
        color: #00B6FF;
    }

.table_import_wrapper {
    position: relative;
    padding-top: 36px;
    background: #5e5e5e;
}

.table_import_scroll {
    max-height: calc(100% - 250px);
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    border: 1px solid #ccc;
}

table thead th div {
    position: absolute;
    background: transparent;
    color: #fff;
    margin: 9px 0;
    top: 0;
    line-height: normal;
    border-left: 1px solid #fff;
    padding-left: 5px;
    min-height: 18px;
}


table thead th.checkbox_table+th div,table thead th.checkbox_table div,table thead th:first-child div{
    border-left: none;
    text-align: center;
}
table thead th.checkbox_table div {
    margin-top: 6px;
}
table thead th.checkbox_table{
    margin: 0;
    width: 25px;
}
table thead th {
    height: 0;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: transparent;
    border: none;
    white-space: nowrap;
    padding: 0 8px 0 0;
    overflow: hidden;
}

    table thead th:nth-child(4) {
        width: 150px;
    }

    table thead th > input {
        width: 0;
        height: 0;
        display: none;
    }

input[type="button"] {
    border: none;
    margin: 20px;
    padding: 10px;
    margin-left: 0;
    margin-right: 0;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: inset 1px 1px 2px #BBB;
    width: 100px;
    box-sizing: border-box;
}

    input[type="button"]:hover {
        box-shadow: 1px 1px 4px #4A4949;
        ;
    }

.tooltip {
    position: absolute;
    z-index: 999;
    left: -9999px;
    background-color: #dedede;
    padding: 5px;
    border: 1px solid #fff;
    width: 250px;
}

    .tooltip p {
        margin: 0;
        color: #fff;
        background-color: #222;
        padding: 2px 7px;
    }
