@using Sitecore
@using Sitecore.Data.Items
@using Sitecore.Links
@using Sitecore.Mvc.Presentation
@using Sitecore.Resources
@using Sitecore.Web.UI
@model RenderingModel
@{       
  const string Links = "{9A65EA39-85FC-4F2A-B3E9-3C467C6FF2A1}";

  var item = ClientHost.Items.GetItem(Links);  
}               

<h1>
  What am I supposed to do?
</h1>  
  
<ul>
  <li>Read the <a href="/sitecore/shell/client/Business Component Library/Content/Home/assets/SPEAK Build 1.pdf">SPEAK Build 1 Introduction</a></li>
  <li>Look at the Media Dialog Selector prototype</li>
  <li>Look at the Documentation web site</li>
  <li>Read the <a href="/sitecore/shell/client/Business Component Library/Content/Home/assets/Sitecore Speak Developer Guide.pdf">Developer Guide document</a></li>
@*  <li>View the <a href="/sitecore/shell/client/Speak/Content/Home/assets/Sitecore.Speak.wmv">video</a> of the Product Marketing presentation</li>*@
</ul>
       
<div class="sc-startpage sc-startpage-large">
  @{
    foreach (Item child in item.Children)
    {
      var src = Images.GetThemedImageSource(child.Appearance.Icon, ImageDimension.id48x48);
      var text = child["Text"];

      var target = item.Database.GetItem(child["Link"]);
    
      var options = new UrlOptions()
      {
        AddAspxExtension = false
      };
      var href = LinkManager.GetItemUrl(target, options);
      
      <a href="@href" class="sc-startpage-item">
        <div class="sc-startpage-item-glyph">
          <img src="@src" alt="@text" width="48" height="48"/>
        </div>
        <div>@text</div>
      </a>
    }
  }
</div>
     
<div style="clear: left">
  <h2>
    What next?
  </h2>  
  
  <ul>
    <li>
      <p>Give us feedback!</p>
      <p>Send us a description your experience, problems, mistakes, misunderstandings, unfulfilled expectations, hopes and wishes.</p>
      <p>You can either post in the <a href="http://sdn.sitecore.net/SDN5/Forum/ShowForum.aspx?ForumID=45">forum</a> or send it to <a href="mailto:jc@sitecore.net">jc@sitecore.net</a>.
      </p>
    </li>
    <li>
      If you need more information on milestones, releases and plans in general, contact <a href="mailto:kb@Sitecore.net">Kerry</a>.
    </li>  
    <li>
      If you want to get your hands dirty, you can request a Sitecore Package from <a href="mailto:jc@sitecore.net">Jakob</a>. 
    </li>
  </ul>    
</div>
