/******** COMMON STYLES ************/
.experience-explorer-iframe-editor .input-tiny {
    width: 25px;
}

.experience-explorer-iframe-editor .input-shallow {
    height: 18px;
}

.experience-explorer-iframe .page-editor-place {
    width: 20px;
}

/*********** MODE STYLES ***********/
.experience-explorer-iframe .mode {
    margin-top: 2px;
}

.experience-explorer-iframe .mode .mode-title {
    margin-top: 7px;
}

.experience-explorer-iframe .mode .buttons-radio {
    margin-top: -6px;
}

/***********************************/
/************* TABS ****************/
/***********************************/

/********** DEVICE TAB *************/
.experience-explorer-iframe-editor .device-dropdown .icon {
    background-position: 0 3px;
    background-repeat: no-repeat;
    padding-left: 20px;
}

/********** GEO IP TAB *************/
.experience-explorer-iframe-editor .test-result {
    display: none;
    position: relative;
    width: 100%;
}

.experience-explorer-iframe-editor .test-result .info {
    top: 1px;
    right: 32px;
}

.experience-explorer-iframe-editor .type-switch .links {
    margin-bottom: 10px;
}

.experience-explorer-iframe-editor .type-switch .links .btn {
    min-width: 60px;
}

.experience-explorer-iframe-editor .type-switch .links .btn i {
    display: none;
}

.experience-explorer-iframe-editor .type-switch .links .btn input {
    display: none;
}

.experience-explorer-iframe-editor .type-switch .links .btn.active i {
   display: inline-block;
   margin: 3px 7px 0 0;
}

.experience-explorer-iframe-editor .type-switch .geo-ip-data.collpase-geo {
    overflow: hidden;
    height: 0;
}

/*********** PRESET TAB **************/
.experience-explorer-iframe-editor .jcarousel-skin-tango {
    list-style: none;
    margin: 0;
}

.experience-explorer-iframe-editor .jcarousel-skin-tango.presets-list {
    padding-left: 20px;
}

.experience-explorer-iframe-editor .jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 237px;
    padding: 0 20px;
}

.experience-explorer-iframe-editor .jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.experience-explorer-iframe-editor .jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  240px;
    height: 77px;
}

.experience-explorer-iframe-editor .jcarousel-skin-tango .jcarousel-prev-horizontal,
.experience-explorer-iframe-editor .jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 40px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    line-height: 16px;
    font-size: 30px;
}

.experience-explorer-iframe-editor .jcarousel-skin-tango .jcarousel-next-horizontal {
    right: 0;
    left: auto;
}

.experience-explorer-iframe-editor .jcarousel-skin-tango .jcarousel-prev-horizontal {
    left: 0;
    right: auto;
}

.experience-explorer-iframe-editor .jcarousel-skin-tango .item {
    display: block;
    float: left;
    width: 75px;
    height: 77px;
    margin-left: 0;
    margin-right: 5px;
    position: relative;
}

.experience-explorer-iframe-editor .jcarousel-skin-tango .item .item-inner {
    display: block;
    width: 50px;
    height: 50px;
    margin: 12px auto 0 auto; 
    overflow: hidden;
    position: relative;
    border: 1px solid #fff;
}

.experience-explorer-iframe-editor .jcarousel-skin-tango .item .item-inner .tick {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}

.experience-explorer-iframe-editor .jcarousel-skin-tango .item .item-inner .name {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    font-size: 9px;
    line-height: 12px;
    padding: 1px 2px;
}

.experience-explorer-iframe-editor .jcarousel-skin-tango .item.active .item-inner {
    width: 73px;
    height: 73px;
    margin: 0;
    border-width: 2px; 
}

.experience-explorer-iframe-editor .jcarousel-skin-tango .item .item-inner.selected {
    border-color: #2E8BCC;
}

.experience-explorer-iframe-editor .jcarousel-skin-tango .item .item-inner.selected .tick {
    display: block;
}

.experience-explorer-iframe-editor .jcarousel-skin-tango .item.active .item-inner.selected .tick {
    width: 20px;
    height: 20px;
}

.experience-explorer-iframe-editor .jcarousel-skin-tango .item.active .item-inner .name {
    font-size: 11px;
    line-height: 14px;
    padding: 3px 5px;
}

/*********** PRESET TAB **************/
.experience-explorer-iframe-editor .profile-block-title {
    width: 190px;
}