<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <Bynder.Content.SitecoreConnector>
      <mappings type="Bynder.Content.SitecoreConnector.SitecoreRepositories.Configuration.MappingSettings, Bynder.Content.SitecoreConnector.SitecoreRepositories">
          <allowedMappings hint="raw:AddAllowedMapping">
              <allow from="text" to="Single-Line Text, Multi-Line Text, Rich Text, Datetime, Date, Number, General Link" />
              <allow from="section" to="Single-Line Text, Multi-Line Text, Rich Text" />
              <allow from="choice_radio" to="Droptree, Checklist, Multilist, Multilist with Search, Treelist, TreelistEx, Droplink" />
              <allow from="choice_checkbox" to="Checklist, Multilist, Multilist with Search, Treelist, TreelistEx, Droplink" />
              <allow from="files" to="Image, File, Droptree, Multilist, Multilist with Search, Treelist, TreelistEx" />      
          </allowedMappings> 
      </mappings>    
    </Bynder.Content.SitecoreConnector>
    <commands>
      <command name="cwb:sync" type="Bynder.Content.SitecoreConnector.Web.Commands.UpdateCommand, Bynder.Content.SitecoreConnector.Web"/>
      <command name="cwb:mappings" type="Bynder.Content.SitecoreConnector.Web.Commands.MappingsCommand, Bynder.Content.SitecoreConnector.Web"/>
      <command name="cwb:addtemplate" type="Bynder.Content.SitecoreConnector.Web.Commands.AddTemplateCommand, Bynder.Content.SitecoreConnector.Web"/>
      <command name="cwb:import" type="Bynder.Content.SitecoreConnector.Web.Commands.ImportCommand, Bynder.Content.SitecoreConnector.Web"/>
      <command name="cwb:mlimport" type="Bynder.Content.SitecoreConnector.Web.Commands.MultipleLocationsImportCommand, Bynder.Content.SitecoreConnector.Web"/>
      <command name="cwb:expandLinks" type="Bynder.Content.SitecoreConnector.Web.Commands.ExpandRichTextLinksCommand, Bynder.Content.SitecoreConnector.Web"/>
      <command name="cwb:testconnection" type="Bynder.Content.SitecoreConnector.Web.Commands.TestConnectionCommand, Bynder.Content.SitecoreConnector.Web"/>
    </commands>
    <sitecore.experienceeditor.speak.requests>
      <request name="ExperienceEditor.GCImportCommand" type="Bynder.Content.SitecoreConnector.Web.Commands.ImportCommand, Bynder.Content.SitecoreConnector.Web"/>
      <request name="ExperienceEditor.GCMLImportCommand" type="Bynder.Content.SitecoreConnector.Web.Commands.MultipleLocationsImportCommand, Bynder.Content.SitecoreConnector.Web"/>
    </sitecore.experienceeditor.speak.requests>
  </sitecore>
</configuration>
