@using Sitecore.Mvc
@model Sitecore.Speak.Components.Models.Structures.Substructures.DialogContentMs.DialogContentMRenderingModel
<div>
  @if (Model.ShowToolbar)
  {
    <section class="sc-dialogContent-toolbar">
      <div class="sc-dialogContent-toolbar-back">
        @Html.Sitecore().Placeholder("DialogContent.Back")
      </div>
      <div class="sc-dialogContent-toolbar-contextSwitcher">
        @Html.Sitecore().Placeholder("DialogContent.ContextSwitch")
      </div>
      <div class="sc-dialogContent-toolbar-actions text-right">
        @Html.Sitecore().Placeholder("DialogContent.Actions")
      </div>
    </section>
  }
  <section class="sc-dialogContent-main">
    @Html.Sitecore().Placeholder("DialogContent.Main")
  </section>
</div>
