<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="gc:sync" type="GatherContent.Connector.Website.Commands.UpdateCommand, GatherContent.Connector.Website"/>
      <command name="gc:mappings" type="GatherContent.Connector.Website.Commands.MappingsCommand, GatherContent.Connector.Website"/>
      <command name="gc:addtemplate" type="GatherContent.Connector.Website.Commands.AddTemplateCommand, GatherContent.Connector.Website"/>
    </commands>
  </sitecore>
</configuration>