<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="gc:sync" type="GatherContent.Connector.Website7.Commands.UpdateCommand, GatherContent.Connector.Website7"/>
      <command name="gc:mappings" type="GatherContent.Connector.Website7.Commands.MappingsCommand, GatherContent.Connector.Website7"/>
      <command name="gc:addtemplate" type="GatherContent.Connector.Website7.Commands.AddTemplateCommand, GatherContent.Connector.Website7"/>
      <command name="gc:import" type="GatherContent.Connector.Website7.Commands.ImportCommand, GatherContent.Connector.Website7"/>
      <command name="gc:testconnection" type="GatherContent.Connector.Website7.Commands.TestConnectionCommand, GatherContent.Connector.Website7"/>
    </commands>
  </sitecore>
</configuration>