@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@* 
<script data-sc-id="FieldImportance1" type="text/x-sitecore-fieldimportance" data-sc-target="@controlId">
  {
    "fields": [
      {"el": "#FirstName", "label": "First Name", "value": "#FirstNameInput", "priority": 1},
      {"el": "#LastName", "label": "Last Name", "value": "#LastNameInput", "priority": 1},
      {"el": "#Address", "label": "Address", "value": "#AddressInput", "priority": 2},
      {"el": "#City", "label": "City", "value": "#CityInput", "priority": 2},
      {"el": "#State", "label": "State", "value": "#StateInput", "priority": 3},
      {"el": "#Country", "label": "Country", "value": "#CountryInput", "priority": 1}
    ]
  }
</script>

<div id="FirstName">
  <label>First Name:</label>
  <input id="FirstNameInput"/>
</div>

<div id="LastName">
  <label>Last Name:</label>
  <input id="LastNameInput"/>
</div>

<div id="Address">
  <label>Address:</label>
  <input id="AddressInput" />
</div>
<div id="City">
  <label>City:</label>
  <input id="CityInput" />
</div>
 
<div id="State">
  <label>State:</label>
  <input id="StateInput" />
</div>
<div id="Country">
  <label>Country:</label>
  <input id="CountryInput" />
</div>
*@