@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
  var userControl = this.Html.Sitecore().Controls().GetUserControl(this.Model.Rendering);
  userControl.Class = "row-fluid ";
  var usePadding = userControl.GetBool("UsePadding");
  if (usePadding)
  {
      userControl.Class += " sc-show-padding";
  }
  var controlId = userControl.ControlId;
  var htmlAttributes = userControl.HtmlAttributes;
}
<div @htmlAttributes>
  @this.Html.Sitecore().Placeholder(controlId + ".Content")
</div>