@using Sitecore.Shell
@model Sitecore.Speak.Components.Models.Common.Authentications.AccountInformations.AccountInformationRenderingModel
@{
  Model.Class.Append("sc-accountInformation");
  Model.DataBind.IsVisible();
}
<ul @Model.HtmlAttributes>
  <li>
    <a class="logout" data-bind="click:logout" href="/api/sitecore/Authentication/Logout?sc_database=master">@Model.LogoutText</a>
  </li>
  <li>
    @Model.UserName
    @if (!string.IsNullOrEmpty(Model.PortraitUrl))
    {
      <img src="/~/icon/@Model.PortraitUrl" />
    }
  </li>
</ul>