<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Your Website</title>
                    <script src="../../../../Assets/vendors/JQuery/jquery-1.8.2.min.js"></script>
      <script src="../../../../Assets/vendors/KnockOut/knockout-2.1.0.js"></script>
      <script src="../../../../Assets/vendors/underscore/underscore.js"></script>
      <script src="../../../../Assets/vendors/Backbone/backbone.js"></script>

		<script>
			 window.__SITECOREDEBUG = true;
		</script>
      <script src="../../../../Assets/lib/dist/sitecore-1.0.1.js"></script>
    </head>
    <body>
    <h1>Simple text control and run method</h1>

<div style="width:50%;float:left">
    <h2>Code</h2>
    <h3>Html</h3>
    <pre>
&#60;span data-sc-id="SimpleTextControl" data-bind="text:text" class="sc-text">&#60;/span>
    </pre>    
    <h3>Javascript</h3>
    <pre>
_sc.Factories.createBaseComponent({
  name: "TextControl",
  selector: ".sc-text",
  attributes: [ 
    { name: "text", value: "$el.text" }
  ],
  beforeRender: function() {
    alert("Just before rendering, the model and the view have been instantiated and the bindings have been applied");
  },
  render: function() {
    alert("Generally you use render when you use Javascript Templates");
  },
  afterRender: function() {
    alert("Now you are sure that the HTML is present for the Component");
  }
 });

$("#run").click(function(){
    //exposing to global for documentation purpose
    window.app = _sc.Factories.createApp();
});
    </pre>
</div>
<div style="width:50%;float:left">
    <h2>Result</h2>

    <span data-sc-id="SimpleTextControl" data-bind="text:text" class="sc-text"></span>
    <a id="run" href="#">Run the app manually to see the Pipeline in action</a>
</div>
<div style="width:100%;float:left;">
<h4>What you need to know.</h4>
<p>
  <ul>
    <li>
      <b>_sc.Factories.createApp()</b>
      <p>When you execute this method, it will initialize all the Controls, after executes all beforeRender methods, all Render methods and all the afterRender methods.</p>
    </li>
  </ul>
</p>
</div>
    <script>
      
      _sc.Factories.createBaseComponent({
        name: "TextControl",
        selector: ".sc-text",
        attributes: [ 
          { name: "text", value: "$el.text" }
        ],
        beforeRender: function() {
          alert("Just before rendering, the model and the view have been instantiated and the bindings have been applied");
        },
        render: function() {
          alert("Generally you use render when you use Javascript Templates");
        },
        afterRender: function() {
          alert("Now you are sure that the HTML is present for the Component");
        }
       });

      $("#run").click(function(){
          //exposing to global for documentation purpose
          window.app = _sc.Factories.createApp();
      });

    </script>
    </body>
</html>