<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Your Website</title>
                    <script src="../../../../Assets/vendors/JQuery/jquery-1.8.2.min.js"></script>
      <script src="../../../../Assets/vendors/KnockOut/knockout-2.1.0.js"></script>
      <script src="../../../../Assets/vendors/underscore/underscore.js"></script>
      <script src="../../../../Assets/vendors/Backbone/backbone.js"></script>

		<script>
			 window.__SITECOREDEBUG = true;
		</script>
      <script src="../../../../Assets/lib/dist/sitecore-1.0.1.js"></script>
    </head>
    <body>
    <h1>More than one controls</h1>

<div style="width:50%;float:left">
    <h2>Code</h2>
    <h3>Html</h3>
    <pre>
&#60;span data-sc-id="SimpleTextControl" data-bind="text:text" class="sc-text">&#60;/span>
&#60;span data-sc-id="SimpleTextControl2" data-bind="text:text" class="sc-text">&#60;/span>
    </pre>    
    <h3>Javascript</h3>
    <pre>
_sc.Factories.createBaseComponent({
  name: "TextControl",
  selector: ".sc-text",
  attributes: [ 
    { name: "text", value: "$el.text" }
  ]
 });

window.app = _sc.Factories.createApp();
    </pre>
</div>
<div style="width:50%;float:left">
    <h2>Result</h2>
    <span data-sc-id="SimpleTextControl" data-bind="text:text" class="sc-text">This is the first</span>
    <br/>
    <span data-sc-id="SimpleTextControl2" data-bind="text:text" class="sc-text">This is the second</span>
</div>
<div style="width:100%;float:left;">
<h4>What you need to know.</h4>
<p>
  <ul>
    <li>
      <b>One component for multiple controls</b>
      <p>As you can see here, the same component is instanciated twice to create 2 different controls.</p>
    </li>
  </ul>
</p>
</div>
    <script>
      
      _sc.Factories.createBaseComponent({
        name: "TextControl",
        selector: ".sc-text",
        attributes: [ 
          { name: "text", value: "$el.text" }
        ]
       });

      window.app = _sc.Factories.createApp();

    </script>
    </body>
</html>