text {
    pointer-events: none;
}

rect.innerBar {
    fill: #D0EBF6;
}

path.frame {
    stroke: #6AC0E2;
    fill: white;
    stroke-width: 7px;
}

.selected {
    stroke: #3FAED9;
}

.muted {
    stroke: #F7F7F7;
}

div.tooltip {
    position: absolute;
    text-align: left;
    width: 200px;
    height: 100px;
    padding: 5px;
    font: 10px arial;
    background: #FEF3C8;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#metricsWell {
    padding-left: 30px;
}

#filterBar {
    padding-left: 30px;
    /*padding-left: 0 !important;*/
}

/*** METRICS START ***/
.metrics-lbl {
    font: 16px arial;
    fill: #474747;
    text-anchor: middle;
}

.metrics-val {
    font: 20px arial;
    fill: #A6A6A6;
    font-weight: bold;
    text-anchor: middle;
}

.activeLabel {
    fill: #000000;
    cursor: pointer;
}

/*** METRICS END ***/

/*** NODE NAME LABELS START ***/

.incomingLabel {
  text-anchor: start;
}

.label-active {
  fill: #3FAED9 !important;
}

.outgoingLabel {
  text-anchor: start;
  /*font-size: 16px !important;*/
  cursor: pointer;
}

#current-page-name {
    font-size: 16px !important;
    fill: #3FAED9 !important;
    text-anchor: middle;
    stroke: none;
}

.exitNodeName {
    font-size: 12px !important;
    fill: #3FAED9 !important;
    transition: all .2s ease-in-out;
    text-anchor: end;
    transform: rotate(50deg);
    transform: rotateY(10deg);
}

#current-page-name.selected{
    font-weight: bold;
}

/*** NODE NAME LABELS END ***/

.pathgroup path {
    cursor: pointer;
}

path.arrow, path.inPath, path.outPath {
    cursor: pointer;
}

.metricsLabelGroup {
    pointer-events: all;
    cursor: pointer;
}

circle.selected {
    fill: #FFFFFF;
    stroke: #3FAED9;
}

circle.dimmed {
    fill: #FFFFFF;
    stroke: #F7F7F7;
    cursor: initial !important;
}

circle.node {
    fill: white;
    cursor: pointer;
}

circle.current {
    fill: url(#icon);
    stroke: none !important;
}

    circle.current.dimmed {
        fill: url(#icon-dimmed);
        stroke-width: 0;
    }

    circle.current.selected {
        fill: url(#icon);
        stroke-width: 0;
    }

.back {
    fill: url(#back);
    stroke: none !important;
}

    .back:hover {
        fill: url(#back-hover);
        stroke: none !important;
    }

path.muted {
    cursor: initial !important;
}

path.selected {
    cursor: initial !important;
}

.landing-overlay {
    fill: none;
    cursor: pointer;
    pointer-events: all;
}

.modal-scrollable{
    z-index: 3000 !important;
}

.knob{
  stroke: #F7F7F7;
  stroke-width: 2;
  fill: #FFFFFF;
}

#metrics {
    margin: 0px 0px 10px 15px;
}

#valueMetric,
#visitsMetric,
#efficiencyMetric {
    display: inline-block;
    margin: 0 30px 0 0;
}

#metrics h3 {
    margin: 0;
    font-size: 20px;
    color: #A6A6A6;
    font-weight: bold;
}

/* tooltip */

div.tooltip {
    min-width: 200px;
    width: auto !important;
    height: auto !important;
    overflow: visible !important;
    padding: 10px !important;
    line-height: 220%;
    background-color: #ffffff !important;
    background-clip: padding-box !important;
    border: 1px solid #cccccc !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 3px !important;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
    white-space: normal !important;
    font-size: 12px !important;
}

    div.tooltip strong {
        font-size: 14px !important;
        display: block;
    }

    div.tooltip span {
        display: block;
        font-weight: bold;
        margin-top: 5px;
        white-space: nowrap;
    }
