<div data-sc-id="ActionControlTest" class="sc-actioncontrol sc-actionpanel " data-sc-require="/-/speak/v1/business/actioncontrol.js" data-sc-debug-renderingname="ActionControl">
  <div style="display:none" class="sc-actionpanel-popup" data-bind="visible:isOpen, click: toggleIsOpen"></div>     
  <ul role="menu" class="nav">
    <li>
      <div class="btn-group" data-bind="foreach:favorites">
        <!-- ko ifnot: isIcon -->
        <span>
          <a class="btn" href="javascript:;" data-toggle="tooltip" data-bind="text: text, click: $parent.invokeFavorite,attr:{title:tooltip}"></a>
        </span>        
        <!-- /ko -->

        <!-- ko if: isIcon -->
        <span>
          <a class="btn" href="javascript:;" data-bind="attr:{title:tooltip}">
                  <div class="sc-icon" data-bind="click: $parent.invokeFavorite, style: { backgroundImage: iconSrc, backgroundPosition: iconBackgroundPosition }" >
                  </div>
           </a>
        </span> 
        <!-- /ko -->

      </div>
    </li>
    <li role="menuitem">
      <div class="dropdown" data-bind="click:invokeAction">
        <a class="btn" data-bind="click: toggleIsOpen, clickBubble: false">
          Actions
          <span class="caret"></span>
        </a> 

        <div role="menu" class="sc-foldout dropdown-menu open" data-bind="visible: isOpen" style="display: none;">
          <div class="sc-foldout-content">
            <table class="sc-actionControl-foldout-grid">
              <tbody>
                <tr>
                  <td>
                    <ul>
                      <li class="nav-header">Edit</li>
                      <li data-sc-actionid="0D8D20648ED8408283316A10D980A9B6" data-sc-favorite="true" data-sc-tooltip="" class="iconify sc-actionMenu-item">
                        <a tabindex="-1" href="javascript:;">Copy</a><a class="favorite-icon  " href="javascript:;" data-bind="click: toggleFavorite, clickBubble: false, css: { selected: $data.isFavorite }"></a>
                      </li>
                      <li data-sc-actionid="366C5BE6630A46C1A37EC9D64FBE2F3B" data-sc-tooltip="" class="iconify sc-actionMenu-item">
                        <a tabindex="-1" href="javascript:;">Redo</a><a class="favorite-icon  " href="javascript:;" data-bind="click: toggleFavorite, clickBubble: false, css: { selected: $data.isFavorite }"></a>
                      </li>
                      <li data-sc-actionid="6B4C99D4281246A48B003576BD685DFE" data-sc-tooltip="" class="iconify sc-actionMenu-item">
                        <a tabindex="-1" href="javascript:;">Undo</a><a class="favorite-icon  " href="javascript:;" data-bind="click: toggleFavorite, clickBubble: false, css: { selected: $data.isFavorite }"></a>
                      </li>
                      <li class="nav-header">File</li>
                      <li data-sc-actionid="716D5A1E273C4328B587D4DDB4208C1F" data-sc-tooltip="" class="iconify sc-actionMenu-item">
                        <a tabindex="-1" href="javascript:;">New</a><a class="favorite-icon  " href="javascript:;" data-bind="click: toggleFavorite, clickBubble: false, css: { selected: $data.isFavorite }"></a>
                      </li>
                      <li data-sc-actionid="BE6A9F413BB746B1BB8F5B2920945EB1" data-sc-tooltip="" class="iconify sc-actionMenu-item">
                        <a tabindex="-1" href="javascript:;">Open</a><a class="favorite-icon  " href="javascript:;" data-bind="click: toggleFavorite, clickBubble: false, css: { selected: $data.isFavorite }"></a>
                      </li>
                      <li data-sc-actionid="5CCE5F6A91F94FA9A2C9E8BB0086AF2E" data-sc-tooltip="" class="iconify sc-actionMenu-item">
                        <a tabindex="-1" href="javascript:;">Save</a><a class="favorite-icon  " href="javascript:;" data-bind="click: toggleFavorite, clickBubble: false, css: { selected: $data.isFavorite }"></a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>