<div data-sc-id="BorderTest" 
     data-bind="visible: isVisible" 
     class="sc-border sc-show-border sc-show-padding sc_Border_105 mCustomScrollbar _mCS_1" 
     data-sc-require="/-/speak/v1/business/border.js" 
     data-sc-hasnested="true" 
  style="height: 100px; position: relative;">
  <div 
    class="mCustomScrollBox mCS-light" id="mCSB_1" 
    style="position:relative; height:100%; overflow:hidden; max-width:100%;">
    <div class="mCSB_container" style="position: relative; top: 0;">
      <img src="http://1.bp.blogspot.com/-0aBOp7NBjac/T8CmV6nugtI/AAAAAAAACiE/O9bHbKL7hkY/s1600/eva_green_36.jpg?bc=&amp;w=611&amp;h=600" 
           data-sc-width="800px" 
           data-sc-height="600px" 
           data-sc-id="Image1" 
           class="sc-image sc_Image_71"                      
           style="width: 800px; height: 600px;">
      <div style="height:0px;" class="totalScrollOffset"></div></div><div class="mCSB_scrollTools" style="position: absolute; display: block;"><div class="mCSB_draggerContainer"><div class="mCSB_dragger" style="position: absolute; height: 30px; top: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="position: relative; line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div>
  </div>
</div>