<div data-sc-id="CheckboxTest1" class="sc-checkbox" data-bind="visible: isVisible, checked: isChecked, enable: isEnabled" data-sc-require="/-/speak/v1/business/checkbox.js">
    <input data-bind="enable: isEnabled, checked: isChecked" type="checkbox"><span data-bind="text: text"></span>
</div>

<div data-sc-id="CheckboxTest2" class="sc-checkbox" data-bind="visible: isVisible, checked: isChecked, enable: isEnabled" data-sc-require="/-/speak/v1/business/checkbox.js">
    <input data-bind="enable: isEnabled, checked: isChecked" type="checkbox" checked="checked" value="1"><span data-bind="text: text">Label Text</span>
</div>

<div data-sc-id="CheckboxTest3" class="sc-checkbox" data-bind="visible: isVisible, checked: isChecked, enable: isEnabled" data-sc-require="/-/speak/v1/business/checkbox.js">
    <input data-bind="enable: isEnabled, checked: isChecked" type="checkbox" checked="checked" disabled="disabled"><span data-bind="text: text"></span>
</div>

