<input type="text" data-sc-id="DatePickerTest1" class="sc-datepicker" 
       data-bind="value: date, visible: isVisible, enable: isEnabled, readonly: isReadOnly" data-sc-require="/-/speak/v1/business/datepicker.js" 
       data-firstday="Monday" data-showothermonths="false" />

<input type="text" data-sc-id="DatePickerTest2" class="sc-datepicker" disabled="disabled" 
       data-bind="value: date, visible: isVisible, enable: isEnabled, readonly: isReadOnly" data-sc-require="/-/speak/v1/business/datepicker.js"
       value="9/11/2010" data-dateformat="d" data-firstday="Wednesday" data-showothermonths="true" />
