<div
  data-sc-id="Expander1" class="sc-expander" 
  data-sc-require="/-/speak/v1/business/expander.js" 
  data-bind="visible: isVisible">
  <div class="sc-expander-header data-sc-registered" data-bind="click: toogle">
    <div>An Expander</div>
    <div class="sc-expander-toggler">
      <a href="#" class="sc-expander-button">
          <div class="sc-expander-chevron up data-sc-registered" data-bind="css: { 'up': isOpen }"></div>
        </a>
    </div>
  </div>  
  <div class="sc-expander-body">
    
  </div>
</div>