<div data-sc-id="IconButtonTest" class="sc-icon-button" data-sc-click="this.set('imageUrl','ApplicationsV2/16x16/add2.png')" data-bind="visible: isVisible, enable: isEnabled, click: click, attr:{ 'data-original-title': title}">
	<div data-sc-imageUrl="/ApplicationsV2/16x16/text_bold2.png" data-sc-backgroundposition="center" data-bind="style: {'backgroundImage': 'url(' + imageUrl() + ')', 'backgroundPosition': backgroundPosition()}" class="sc-icon-button-image" style="background-image: url(/~/icon/ApplicationsV2/16x16/text_bold2.png); background-position: 50% 50%;">
	</div>
</div>  