<img src="~/media/6DE2C2608FCD4DE48DE1D14EE37C82AF.ashx?db=core" alt="" 
     data-sc-id="ImageTest1" class="sc-image" 
     data-bind="visible: isVisible, attr: { src: src, alt: alt }" 
     data-image-src="~/media/6DE2C2608FCD4DE48DE1D14EE37C82AF.ashx?db=core" />

<img src="~/media/6DE2C2608FCD4DE48DE1D14EE37C82AF.ashx?db=core&amp;bc=&amp;w=200&amp;h=400" 
     data-sc-width="200px" data-sc-height="400px" alt="Sitecore logo" 
     data-sc-id="ImageTest2" class="sc-image" 
     data-bind="visible: isVisible, attr: { src: src, alt: alt }" 
     data-sc-require="/-/speak/v1/business/image.js" 
     data-image-src="~/media/6DE2C2608FCD4DE48DE1D14EE37C82AF.ashx?db=core" 
     style="width: 200px; height: 400px;">



