<div data-sc-id="MessageBarTest" class="sc-messageBar sc_MessageBar_23" data-sc-require="/-/speak/v1/business/messagebar.js" data-bind="fadeVisible:fadeVisible, visible:isVisible">
  <div class="sc-messageBar-head" data-bind="attr:{'class': topMessageClass},
            visible:totalMessageCount()&gt;1" style="display: none;">
    
    <i class="alert-ico"></i>  
    <span class="sc-messageBar-messageText" data-bind="text: headText()"></span>
    <span class="sc-messageBar-chevron-layout">
      <a href="javascript:;" data-bind="text: expanded() ? 'Less details...' : 'More details...'">More details...</a>
      <i class="icon-chevron" data-bind="css:{'direction-up': expanded()}"></i>
    </span>
    
  </div>
  <div class="sc-messageBar-messages-wrap" data-bind="css:{'sc-messageBar-messages-nested-children':totalMessageCount() &gt; 1 }, visible:expanded()|| (totalMessageCount() &lt;= 1)">
    <div data-bind="foreach: errors"></div>

    <div data-bind="foreach: warnings">
      <div class="alert">
        <i class="alert-ico"></i>
        <span class="sc-messageBar-messageText" data-bind="text: text">Warning2 - lorem ipsum dolor sit amet consectur amet.</span>
        <span class="sc-messageBar-actionLink-layout" data-bind="foreach:actions"></span>
        <button data-dismiss="alert" class="close" type="button" data-bind="visible: closable" style="display: none;">×</button>
      </div>
    </div>

    <div data-bind="foreach: notifications"></div>
  </div>
    
  <input id="initialDataSource__MessageBar3" name="initialDataSource__MessageBar3" type="hidden" value="{&quot;errors&quot;:[],&quot;warnings&quot;:[
  {
    &quot;text&quot;: &quot;Warning2 - lorem ipsum dolor sit amet consectur amet.&quot;,
    &quot;closable&quot;: false,
    &quot;actions&quot;: []
  }
],&quot;notifications&quot;:[]}">
</div>

