<label data-sc-id="RadioButtonTest1" class="sc-radiobutton" data-bind="visible: isVisible" data-sc-require="/-/speak/v1/business/radiobutton.js">
    <input data-bind="enable: isEnabled, checked: isChecked" class="sc-radiobutton-input" type="radio" value="1" name="rb2" checked="checked">
    <span data-bind="text: text" class="sc-radiobutton-label">Option 1</span>
</label>

<label data-sc-id="RadioButtonTest2" class="sc-radiobutton" data-bind="visible: isVisible" data-sc-require="/-/speak/v1/business/radiobutton.js">
    <input data-bind="enable: isEnabled, checked: isChecked" class="sc-radiobutton-input" type="radio" value="2" name="rb2">
    <span data-bind="text: text" class="sc-radiobutton-label"></span>
</label>

<label data-sc-id="RadioButtonTest3" class="sc-radiobutton" disabled="disabled" data-bind="visible: isVisible" 
       data-sc-require="/-/speak/v1/business/radiobutton.js">
    <input data-bind="enable: isEnabled, checked: isChecked" class="sc-radiobutton-input" type="radio" value="3" name="rb2" disabled="">
    <span data-bind="text: text" class="sc-radiobutton-label"></span>
</label>

<label data-sc-id="RadioButtonTest4" class="sc-radiobutton" data-bind="visible: isVisible" data-sc-require="/-/speak/v1/business/radiobutton.js" 
       style="display:none;">
    <input data-bind="enable: isEnabled, checked: isChecked" class="sc-radiobutton-input" type="radio" value="4" name="rb2">
    <span data-bind="text: text" class="sc-radiobutton-label"></span>
</label>
