<hr data-sc-id="SeparatorTest1" class="sc-separator" data-sc-require="/-/speak/v1/business/separator.js" data-bind="visible: isVisible" 
    data-sc-debug-renderingname="Separator" data-sc-debug-renderingid="{73C16115-8B56-43AF-8EA3-4D704FCDA127}" 
    data-sc-debug-datasource="/sitecore" data-sc-debug-contextitemid="{73C16115-8B56-43AF-8EA3-4D704FCDA127}" 
    data-sc-debug-deviceid="{3AC0D3A4-D6AE-429F-A79C-F42157D0004E}" data-sc-debug-placeholder="" 
    data-sc-debug-renderingparameters="Id=SeparatorTest1" />


<hr data-sc-id="SeparatorTest2" class="sc-separator" data-sc-require="/-/speak/v1/business/separator.js" data-bind="visible: isVisible"
    data-sc-debug-renderingname="Separator" data-sc-debug-renderingid="{73C16115-8B56-43AF-8EA3-4D704FCDA127}" 
    data-sc-debug-datasource="/sitecore" data-sc-debug-contextitemid="{73C16115-8B56-43AF-8EA3-4D704FCDA127}" 
    data-sc-debug-deviceid="{3AC0D3A4-D6AE-429F-A79C-F42157D0004E}" data-sc-debug-placeholder="" 
    data-sc-debug-renderingparameters="Id=Separator2&amp;IsVisible=False" style="display:none;" />

