<div data-sc-id="SmartPanelTest1" class="sc-smartpanel panel-right large" data-sc-require="/-/speak/v1/business/SmartPanel.js" data-sc-hasnested="true" data-sc-position="right" data-sc-dimensions="large" data-sc-offsettop="0" data-sc-offsetbottom="0">        
    <div class="sc-smartpanel-wrapper">
	    <div class="sc-smartpanel-header"></div>
	    <a class="sc-smartpanel-close" href="#"></a>
	    <div class="sc-smartpanel-content"></div>
        <div class="sc-smartpanel-buttons"></div>
	</div>
</div>

<div data-sc-id="SmartPanelTest2" class="sc-smartpanel panel-bottom small" data-sc-require="/-/speak/v1/business/SmartPanel.js" data-sc-hasnested="true" data-sc-position="bottom" data-sc-dimensions="small" data-sc-offsettop="0" data-sc-offsetbottom="0">        
    <div class="sc-smartpanel-wrapper">
	    <div class="sc-smartpanel-header"></div>
	    <a class="sc-smartpanel-close" href="#"></a>
	    <div class="sc-smartpanel-content"></div>
        <div class="sc-smartpanel-buttons"></div>
	</div>
</div>

<div data-sc-id="SmartPanelTest3" class="sc-smartpanel panel-left normal" data-sc-require="/-/speak/v1/business/SmartPanel.js" data-sc-hasnested="true" data-sc-position="left" data-sc-dimensions="normal" data-sc-offsettop="100" data-sc-offsetbottom="200">        
    <div class="sc-smartpanel-wrapper">
	    <div class="sc-smartpanel-header"></div>
	    <a class="sc-smartpanel-close" href="#"></a>
	    <div class="sc-smartpanel-content"></div>
        <div class="sc-smartpanel-buttons"></div>
	</div>
</div>