.closeButton {
    float: left;
}

body {
    height: 100%;

}

.gathercontent-import {
}
.filter_wrapper .filter_wrapper_import{
    display:block;
    float: left;
}
.filter_wrapper_import {
    display:inline-block;
    height: 30px;
    line-height: 30px;
    font-weight: 700;
    font-size: 0.9em;
}

p {
    margin: 12px 0;
}

h2.title {
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    overflow: auto;
}

.footer_btn {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 20px 20px 5px;
    width: 100%;
}

    .footer_btn input[type="checkbox"] {
        display: block;
        float: left;
        margin-right: 5px;
    }

.gathercontent-import {

}
.gathercontent-import>div{
    padding-bottom: 110px;
    position: relative;
  min-height: 100%;
}
.gathercontent-import2>div{
    padding-bottom:110px;
    position: relative;
    min-height: 100%;
}
.filter_wrapper {
    margin: 20px 0;
}
.filter_wrapper:after{
    content: "";
    display: block;
    clear: both;
}
.filter_wrapper_import > * {
    float: left;
}

.filter_wrapper_import .title_filter {
    min-width: 70px;
}
body .filter_wrapper_import .custom_select{
    margin-bottom: 20px;
}
.search_filter {
    float: right;

}
    .search_filter input {
        height: 30px;
        padding-left: 10px;
        color: #333333;
        font-weight: 500;
        min-width: 270px;
        width: 30%;
    }

        .search_filter input::-webkit-input-placeholder {
            color: #777777;
        }

        .search_filter input::-moz-placeholder {
            color: #777777;
        }

        .search_filter input:-moz-placeholder {
            color: #777777;
        }

        .search_filter input:-ms-input-placeholder {
            color: #777777;
        }

.custom_select {
    -webkit-appearance: none;
    background-image: url('/sitecore modules/shell/gathercontent/img/arrow_select.png');
    background-repeat: no-repeat;
    background-position: 95% 50%;
    -webkit-background-size: 95%;
    background-size: 8px;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
    display: block;
    width: 210px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 25px;
    overflow: hidden;
    border: 1px solid #808080;
    background-color: #fff;
    height: 30px;
    color: #808080;
    vertical-align: middle;
    font-weight: 500;
}

.filter_wrapper_import > .custom_select {
    margin: 0 20px;
}

    .filter_wrapper_import > .custom_select:focus, .custom_select:focus {
        outline: none;
    }

    .filter_wrapper_import > .custom_select::-ms-expand, .custom_select::-ms-expand {
        display: none;
    }

.preloader_import {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -140px;
}

    .preloader_import img {
        width: 30px;
        margin-top: 20px;
    }

.preloader {
    top: 0;
    left: 0;
    -webkit-background-size: 40px;
    background-size: 40px;
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("../icons/sc-spinner32.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    font-size: 0.9em;
}

    table tbody tr:nth-child(even) {
        background-color: #f7f7f7;
    }

    table tbody tr:nth-child(odd) {
        background-color: #fff;
    }

    table tbody tr:hover {
        background-color: #e3e3e3;
    }

    table tbody tr td {
        color: #808080;
        cursor: default;
        padding: 5px;
        border: 1px solid #ccc;
        border-top: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 160px;
    }

        table tbody tr td:last-child {
            white-space: nowrap;
            border-right: none;
        }

        table tbody tr td:first-child {
            border-left: none;
        }

    table tbody tr:last-child td {
        border-bottom: none;
    }

    table tbody tr td:nth-child(1), table tbody tr td:nth-child(2) {
        font-size: 1em;
    }

    /*table tbody tr td:nth-child(1):before {*/
    /*content: "";*/
    /*display: inline-block;*/
    /*width: 10px;*/
    /*height: 10px;*/
    /*background-color: currentColor;*/
    /*margin-right: 4px;*/
    /*}*/

    /*table.table_point tbody tr td:nth-child(1):before {*/
    /*content: none;*/
    /*}*/

    table tbody tr td span:first-child {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 4px;
    }

    table tbody tr td input[type="checkbox"] {
        margin-top: 0;
    }

    table tbody tr td a {
        text-decoration: none;
        cursor: pointer;
        font-weight: 700;
        color: #00B6FF;
    }

.table_import_wrapper {
    position: relative;
    padding-top: 45px;
    background: #5e5e5e;
}

.table_import_scroll {
    max-height: 340px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    border: 1px solid #ccc;
}

table thead th div {
    position: absolute;
    background: transparent;
    color: #fff;
    margin: 12px 0 9px;
    padding-top: 3px;
    top: 0;
    border-left: 1px solid #fff;
    min-height: 18px;
    word-wrap: break-word;
    width: inherit;
    text-align: center;
    line-height: 16px;
}


table thead th.checkbox_table + th div, table thead th.checkbox_table div, table thead th:first-child div {
    border-left: none;
}

table thead th.checkbox_table div {
    margin-top: 6px;
}

table thead th.checkbox_table {
    margin: 0;
    width: 25px;
}

table thead th.status {
    margin: 0;
    width: 155px;
}

table thead th {
    height: 0;
    line-height: 0;
    color: transparent;
    border: none;
    padding: 0 8px 0 0;
    overflow: hidden;
    text-align: center;
}


    table thead th > input {
        width: 18px;
        height: 0;
        height: 0px;
        visibility: hidden;
        margin: 0 !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        border-width: 0;
        border-color: transparent;
        border: none;
        position: relative;
        top: -5px;
    }

input[type="button"] {
    border: none;
    padding: 10px;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
    background-color: #e4e3e3;
}

    input[type="button"]:hover {
        background-color: #f0eeee;
    }

.tooltip {
    position: absolute;
    z-index: 999;
    left: -9999px;
    background-color: #dedede;
    padding: 5px;
    border: 1px solid #fff;
    width: 250px;
}

    .tooltip p {
        margin: 0;
        color: #fff;
        background-color: #222;
        padding: 2px 7px;
    }

.warning-message {
    color: red;
    display: inline;
    padding-left: 15px;
}

.dynatree-container ul {
    padding-top: 5px !important;
}

.dynatree-container li {
    padding-bottom: 5px !important;
}

.import-grid {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    height: 480px;
}

.import-result-grid {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    height: 470px;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
.info_footer .import-result-grid{
    height: 410px;
}
.multiimport-result-grid{
    height: 470px;
}
.info_footer .multiimport-result-grid{
    height: 65%;
}
.tree_init{
    max-height: 250px;
    display: none;
}
.multimport-confirm-grid{
    height: 480px;
}
.multimport-confirm-grid2{
    height: 550px;
}
.import-confirm-grid {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    height: 80%;
}
.import-confirm-grid2{
    height: 465px;
}
.import-confirm-grid3{
    height: 78%;
}
.cell-padding {
    display: inline-block;
    padding: 5px;
}
    .cell-padding a {
        text-decoration: none;
        cursor: pointer;
        font-weight: 700;
        color: #00B6FF;
    }
     .cell-padding a:hover {
        text-decoration: none;
        cursor: pointer;
    }
.mappings-cell {
    margin: 0;
    width: 100%;
    height: 100%;

}
.location .title_path{
    width: 11%;
    text-transform: uppercase;
    padding-right: 20px;
    box-sizing: border-box;
    min-width: 70px;
    float: left;
    line-height: 30px;
    font-weight: 700;
    font-size: 0.9em;
}
.location .input-block{
    width: 89%;
}
.status-color {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

/*top*/

.kgTopPanel {
    background: #5e5e5e;
    height: 40px !important;
    /*width: 1158px;*/
    position: inherit;
}
.kgHeaderText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12.8px;
    margin: 11px 0;
    padding-right: 30px;
    padding: 1px 5px;
    border-left: 1px solid #fff;
    color: #fff;
}
.kgTopPanel .kgHeaderCell:first-child .kgHeaderText {
    border-left: 0;
}

.kgHeaderCell {
    border: 0;
}


button.kgPagerButton {
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: inset 1px 1px 2px #BBB;
    cursor: pointer;
    outline: none;
}
button.kgPagerButton:hover {
    box-shadow: 1px 1px 4px #4A4949;
}
.kgViewport {
    overflow-x: hidden;
    /*width: 1158px !important;*/
    outline: none;
}
.kgSortButtonDown {
    right: 7px;
    left: auto;
    top: 48%;
    border-color: rgb(255, 255, 255) transparent;
    border-width: 7px 7px 0px;
}
.kgSortButtonUp {
    right: 7px;
    left: auto;
    top: 44%;
    border-color:   rgb(255, 255, 255) transparent;
    border-width: 0 7px 7px 7px;
}
.kgTotalSelectContainer {
    margin-top: 10px;
}
.kglabel {
    /*margin-top: 6px !important;*/
}
input[type=checkbox].kgSelectionCheckbox, input[type=radio].kgSelectionCheckbox{
    margin-top: 0;
}
.kgPagerContainer select {
    width: 50px !important;
    -webkit-appearance: none;
    background-image: url('/sitecore modules/shell/gathercontent/img/arrow_select.png');
    background-repeat: no-repeat;
    background-position: 95% 50%;
    -webkit-background-size: 95%;
    background-size: 8px;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid #808080;
    background-color: #fff;
    height: 30px;
    color: #808080;
    vertical-align: middle;
    font-weight: 500;
    padding-left: 5px;
}
.kgPagerCurrent {
    background-color: transparent;
    text-align: center;
    outline: none;
    width: 50px !important;
    margin-top: 1px;
    padding: 0px 4px 0 4px !important;
    border: 0
}
.kgHeaderCell:last-child {
    border-right:0;
}
.kgCell {
    box-sizing: border-box;
    overflow: visible;
}
.kgCell:first-child {
    border-left: 1px solid rgb(212, 212, 212);
}
.kgCell:last-child {
     border-right:none;
}
.gridStyle {
    border: 0;
}
.kgRow {
    border-bottom: 1px solid rgb(212, 212, 212);
    border-right: 1px solid rgb(212, 212, 212);

    /*width: 1158px!important;*/
}
.kgCellText {
   line-height: 19px;
}

/*footer*/
.kgFooterPanel {
    background-color: transparent;
}

/*end footer*/

.gathercontent-dialog .mappings-btn {
    border-radius: 0;
    border: none;
    margin-top: 20px;
    padding: 10px;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: inset 1px 1px 2px #BBB;
}

.kgPagerButton[disabled] {
    opacity: 0.5;
    cursor: default;
}
.kgPagerButton[disabled]:hover {
    box-shadow: inset 1px 1px 2px #BBB;
}
.input-block {
    width: 100%
}


/*fix import */

.language{
    text-transform: uppercase;
    font-weight: 700;
    float: right;
}
.language .custom_select{
    font-weight: 500;
}
.title_wrap{
    float: left;
}
.location:before{
    content: "";
    display: block;
    clear: both;

}
.kgViewport{
    /*border-bottom: 1px solid rgb(212,212,212);*/
     /*border-left: 1px solid rgb(212,212,212);*/
    /*border-right: 1px solid rgb(212,212,212);*/
}
.import-grid{
    border: none;
}
.import-confirm-grid{
    border-left: none;
    border-right: none;
    border-bottom: none;
}
.kgFooterPanel{
    margin-top: 20px;
}
.location .input-block{
    height: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
}
.kgFooterPanel {
    padding: 0;
    border-top: 1px solid rgb(212,212,212);
    position: relative;
}
.kgFooterPanel:after{
    content: "";
    display: block;
    clear: both;
}
.kgFooterTotalItems,.kgFooterSelectedItems{
    display: inline-block;
}
.kgCanvas{
    width: 100%!important;
}
.kgRow{
    min-width: 100%!important;
}
.kgCanvas>div{
    width: 100%;
    height: 100%;
}
.koGrid{
    background-color: transparent;
}
.kgViewport{
    background-color: rgb(253, 253, 253);
    padding-bottom: 20px;
}
.kgFooterPanel{
    margin-top: 0;
}
#location-droptree{
    top: 100%!important;
    left:129px;
    margin-top: -10px;
    min-width: 500px;
}
.tree_wrap input{
    width: 100%;
}
.import-confirm-grid .kgRow.selected.odd {
    background-color: rgb(253, 253, 253);
}
.import-confirm-grid .kgRow.selected.even {
    background-color: rgb(243, 243, 243);
}