<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor patch:after="processor[@type='Sitecore.Pipelines.Loader.EnsureAnonymousUsers, Sitecore.Kernel']"
          type=" GatherContent.Connector.Website.RegisterHttpRoutes,  GatherContent.Connector.Website" />
      </initialize>
    </pipelines>
  </sitecore>
</configuration>